<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-th-list"></i>
    <%= t ".show_mail_template" %>
    <div class="col-md-12" style="word-wrap:break-word;">
      <%= @mail_template.name %>
    </div>
  </h2>
<% end %>

<div class="col-md-12" style="word-wrap:break-word;">
  <h2><%= @mail_template.subject %></h2>
  <%= @mail_template.text %>
</div>